/* NavBar.css */

/* Slide-in animation */
@keyframes slideDown {
  0% {
    
    opacity: 0;
  }
  100% {
    
    opacity: 0.7;
  }
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 998;
  background: transparent;
  font-family: system-ui;
  padding: 20px 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  animation: slideDown 10s ease-out forwards ;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.nav-button {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 50px;
  color: white;
  font-weight: 600;
  font-family: system-ui;
  font-size: 16px;
  transition: transform 0.2s ease;
}

.nav-button:hover {
  transform: scale(1.05);
}

/* Color modifiers */
.nav-button.blue {
  background-color: #f5f2fb;
}

.nav-button.light-blue {
  background-color: rgb(142, 184, 246);
}

.nav-button.purple {
  background-color: rgb(145, 169, 200);
}
.nav-button.home{
  background-color: rgb(199, 215, 242);
}